/* css */

body {
    background-color: #c5c4c5;
    background-image: url(imagens/foto1.png);
    background-repeat: no-repeat;
    background-position: 8% 20%;
    background-size: 50%;
    color: rgb(0, 0, 0);
   }

#codificarDecodificar{
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    border-width:8px;
    border-style:double;
    border-color:white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px white;
}
#codificarCodificar{
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    border-width:8px;
    border-style:double;
    border-color:white;
    border-radius: 8px;
    box-shadow: 2px 2px 3px white;
}

#textos {
    text-align: justify;
    margin-right: 15%;
    margin-top: 3%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
    }

#seletor1{
    text-align: justify;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
}
#seletor2{
    text-align: justify;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
}
#mensagemTexto1{
    text-align: justify;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
}
#mensagemTexto2{
    text-align: justify;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
}
#textoInserido1{
    text-align: justify;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
}
#textoInserido2{
    text-align: justify;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
}
#botaoCodificar{
    text-align: justify;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
}
#botaoDecodificar{
    text-align: justify;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
}
#textoRecebido1{
    text-align: justify;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
}
#textoRecebido2{
    text-align: justify;
    margin-right: 15%;
    margin-top: 1%;
    margin-left: 60%;
    font-family:'Noto Sans SC', sans-serif;
}

footer {
    position: fixed;
    bottom:0;
    left:20;
}
